<!DOCTYPE html>
<html>
  <head>
    <title>Boni</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render partial: "layouts/partials/application-public-header" %>
    <%= yield %>
    <%= javascript_include_tag params[:controller] %>
  </body>
</html>
