<!DOCTYPE html>
<html>
  <head>
    <title>Boni</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render partial: "layouts/partials/application-header" %>
    <div id="app">
      <%= yield %>
    </div>
    <%= javascript_include_tag "#{params[:controller]}/application" %>
  </body>
</html>
